@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{font-family:NanumGothic,sans-serif;font-size:.75em;color:#fff;background:#222;margin: 0 auto;}
span.cke_skin_kama{border:0}
button,input,textarea{font-family:NanumGothic,sans-serif}
li{
    list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

a{text-decoration:none;color:#fff}
a:hover{color:#ca2}.hidden{display:none !important}

li:link, li:visited {
    border: none;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
   cursor: pointer;
}

li:hover, li:active {
   background-color: #6D0062;
}

a.onActive {
    color:yellow;
}

a.onVisited {
    color:#02ff89
}

li.onActive, li.onVisited {
    background-color: #6D0062;
}

li.onVisited {
    background-color: grey;
}

ul.caution {
    color:red;
    font-size:16;
    font-weight:2;
}

div.context {
    border: 2px solid tomato;
    margin-bottom : 20px;
}

#whole_wrapper{position:relative}

/* head */
#whole_wrapper>.head{background-color:#000}

#root{border-top:1px solid yellow;font-size:2em;font-weight:bold;color:#fff;margin-top:20px}
#from{border-top:1px solid yellow;font-size:2em;font-weight:bold;color:#fff;margin-top:20px}
#redirection{border-top:1px solid yellow;font-size:2em;font-weight:bold;color:#fff;margin-top:20px}
#source{border-top:1px solid yellow;font-size:2em;font-weight:bold;color:#fff;margin-top:20px}
#text{border-top:1px solid yellow;font-size:2em;font-weight:bold;color:#fff;margin-top:20px}
#link{border-top:1px solid yellow;font-size:2em;font-weight:bold;color:#fff;margin-top:20px}
#data>div{border-top:1px solid yellow;font-size:2em;font-weight:bold;color:#fff;margin-top:30px}
.btn{border-top:1px solid;font-size:30px;font-weight:bold;width:200px !important}

input:not(.autocomplete-input)[type=text]{border-top:1px solid;font-size:20px;font-weight:bold;width:60%}
input.ip_time { width:10% !important}
input.btn_transaction { 
    position: relative;
    float:right;
}
#insert_btn {
    margin-top : 20px;
    margin-bottom : 20px;
}

.btn_add_data {
    margin-top : 20px;
    margin-bottom : 20px;
}


.container{
    display: flex;
    flex-direction: column;
}
header{
    border-bottom:1px solid gray;
    padding:20px;
    margin:10px;
}
.content{
    display:flex;
}
.content nav{
    border-right:1px solid gray;
}
nav{
    flex-grow:1;
    height:100vh;
    overflow-y:scroll;
    min-width: min-content;
}
main{
    margin:20px;
    padding:10px;
    flex-grow:9
}

textarea {
    font-size: 18px;
    width:100%
}