# data
data/book
data/drama

# db
koreng_mongo/pw.txt
koreng_mongo/archive
koreng_mongo/dictionary_archive
koreng_mongo/video_archive
koreng_mongo/archive_cambridge_style
koreng_mongo/data

# source data
public/html_metadata copy
public/image
public/reference

# tool
tool/scrapy_koreng
tool/crawler/en_list.txt
