body {
  margin: 0 auto;
  background: #000000;
}

.resBlockHeader {
  border: 3px hidden;
  background-color: #333333;
  font-family: Rounded Mplus 1c Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 70px;
  padding-top: 5px;
  width: 100%;
  right: 30px;
  word-wrap: break-word;
  cursor: pointer;
  margin: 0 auto;
}

div.resBlockBody {
  border: 3px solid #000000;
  background-color: #222222;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 23px;
  padding-left: 10px;
  padding-top: 10px;
  width: auto;
  right: 30px;
  word-wrap: break-word;
  margin: 0 auto;
}

span.minimizeButton {
  position: absolute;
  font-weight: bold;
  font-size: 80px;
  width: 0%;
  height: 100%;
  left: -2%;
}


div.filterTriggerButton {
  border: 3px solid #000000;
  background-color: #222222;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: #FFFFFF;
  line-height: 30px;
  padding-left: 10px;
  padding-top: 10px;
  width: auto;
  right: 30px;
  word-wrap: break-word;
  cursor: pointer;
  margin: 0 auto;
  padding : 30px;
}

.filterBlock {
  border: 3px hidden;
  background-color: #333333;
  font-family: Rounded Mplus 1c Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: #FFFFFF;
  line-height: 30px;
  width: 100%;
  left: 30px;
  width: auto;
  word-wrap: break-word;
  cursor: pointer;
  padding: 30px;
  margin-top: 50px;
}

#filterBox {
  position: absolute;
  width: auto;
  padding: 30px;
  left: 10px;
  right: 10px;
  top: 10px;
  margin: 0 auto;
  /* background: #FFFFFF;
    border: 1px solid #278342; */
}

#filterConfirmButton {
  padding: 30px;
  border: 2px solid #FFFFFF;
  background-color: #000000;
  border-radius: 35px;
  font-family: Rounded Mplus 1c Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #FFFFFF;
  width: 100%;
  cursor: pointer;
}

#filterButton {
  position: absolute;
  left: 80%;
  top: -20px;
  border: 2px solid #FFFFFF;
  background-color: #000000;
  border-radius: 35px;
  font-family: Rounded Mplus 1c Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #FFFFFF;
  line-height: 30px;
  padding: 30px;
  width: auto;
  word-wrap: break-word;
  cursor: pointer;
}

#title {
  position: absolute;
  height: 35px;
  left: 20%;
  top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  width: 600px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0 auto;
}

#goGroup {
  position: absolute;
  width: 560px;
  height: 40px;
  left: 20%;
  top: 97px;
  margin: 0 auto;
}

#searchBox {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  background-color: #FFFFFF;
  margin: 0 auto;
}

#goBox {
  /* Rectangle 2 */
  position: absolute;
  width: 10%;
  height: 100%;
  left: 90%;
  top: 0%;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  margin: 0 auto;
}

#goButton {
  position: absolute;
  width: 10%;
  height: 100%;
  left: 87%;
  top: -5%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.015em;
  font-variant: small-caps;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: #FFFFFF;
  outline: none;
  margin: 0 auto;
}

#searchText {
  position: absolute;
  width: 88%;
  height: 100%;
  left: -2%;
  top: -6%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.015em;
  color: #000000;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  margin: 0 auto;
}

#resultBox {
  position: absolute;
  width: auto;
  padding: 30px;
  left: 30px;
  right: 30px;
  top: 150px;
  margin: 0 auto;
  /* background: #FFFFFF;
    border: 1px solid #278342; */
}
